<!DOCTYPE html>
<html>
	<head>
	<title>{{general.site_name}} | {{pageTitle}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
    	<link rel='stylesheet' href='/css/style.css' />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>
    <div id="wrapper">
		<!-- Header -->
		<header id="header">
			<h1><a href="#">{{general.site_name}}</a></h1>
			<nav class="links">
				<ul>
					<li><a href="/">Home</a></li>
					<li><span class="has-dropdown">Catrgories
						<ul class="dropdown">
							{% for item in categories %}
							<a href="/categories/{{item.name}}">
								<li>{{item.name}}</li>
							</a>
							{% endfor %}
						</ul>
					</span></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
			<nav class="main">
				<ul>
					<li class="search">
						<a class="fa-search" href="#search">Search</a>
						<form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</li>
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<section id="menu">

			<!-- Search -->
				<section>
					<form class="search" method="get" action="#">
						<input type="text" name="query" placeholder="Search" />
					</form>
				</section>

			<!-- Links -->
				<section>
					<ul class="links">
						<li>
							<a href="#">
								<h3>Lorem ipsum</h3>
								<p>Feugiat tempus veroeros dolor</p>
							</a>
						</li>
						<li>
							<a href="#">
								<h3>Dolor sit amet</h3>
								<p>Sed vitae justo condimentum</p>
							</a>
						</li>
						<li>
							<a href="#">
								<h3>Feugiat veroeros</h3>
								<p>Phasellus sed ultricies mi congue</p>
							</a>
						</li>
						<li>
							<a href="#">
								<h3>Etiam sed consequat</h3>
								<p>Porta lectus amet ultricies</p>
							</a>
						</li>
					</ul>
				</section>

			<!-- Actions -->
				<section>
					<ul class="actions vertical">
						<li><a href="#" class="button big fit">Log In</a></li>
					</ul>
				</section>
          </section>
		  <div id="main">
                <div class="post about-page">
                    <div class="logo">
                        <img src="{{siteUrl}}/uploads/settings/{{general.site_logo.filename}}" alt="{{general.site_name}}">
                    </div>
                    <div class="site-name">
                        <h2>{{general.site_name}}</h2>
                    </div>
                    <ul class="icons">
                        <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                        <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                    <div class="site-description">
                        {{general.site_description}}
                    </div>
                </div>
          </div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>